.cursor/rules/snyk_rules.mdc
.DS_Store
.DS_Store
.env
.env.*.local
.env.local
.github/instructions/snyk_rules.instructions.md
**/.speakeasy/logs/
**/.speakeasy/temp/
/__tests__
/.eslintcache
/.speakeasy/reports
/.tsbuildinfo
/.tshy
/.tshy-*
/bin
/cjs
/core.*
/dist
/esm
/examples/node_modules
/funcs
/hooks
/index.*
/lib
/mcp-server
/models
/models/errors
/node_modules
/react-query
/sdk
/types
